@model IEnumerable<MvcTips.Models.Tips>

@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="d-flex flex-wrap bd-highlight mb-3 justify-content-start">
    @foreach (var item in Model) {
        <div class="p-2 bd-highlight" style="width: 18rem;">
            <img src='@Html.DisplayFor(modelItem => item.UrlImg)' class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Resume)</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Leia Mais</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>
