@model Data.ViewModels.DataViewModel;

@{ string date =  @Model.Data.ElementAt(Model.Data.Count()-1).Date;}
@{ string dateParse = DateTime.Parse(date).ToString("dd-MM-yyyy AS HH:mm:ss");}

@{ float mortes  = @Model.Data.ElementAt(Model.Data.Count()-1).Deaths;}
@{ float confirmados  = @Model.Data.ElementAt(Model.Data.Count()-1).Confirmed;}
@{ float percentual  = (mortes/confirmados) * 100;}


@{
    ViewData["Title"] = "Home Page";
}

<main class="container-sm">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            @for (var i = 0; i < 3; i++) {
                if (i == 0) {
                    <div class="carousel-item active">
                        <img src='@Model.Tips.ElementAt(i).UrlImg' class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block bg-info">
                            <h5 class="text-light">@Model.Tips.ElementAt(i).Title</h5>
                            <p class="text-light">@Model.Tips.ElementAt(i).Resume</p>
                            <a asp-action="Details" asp-route-id="@Model.Tips.ElementAt(i).Id" class="text-secondary">Leia Mais</a>
                        </div>
                    </div>
                } else {
                    <div class="carousel-item">
                        <img src='@Model.Tips.ElementAt(i).UrlImg' class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block bg-info">
                            <h5 class="text-light">@Model.Tips.ElementAt(i).Title</h5>
                            <p class="text-light">@Model.Tips.ElementAt(i).Resume</p>
                            <a asp-action="Details" asp-route-id="@Model.Tips.ElementAt(i).Id" class="text-secondary">Leia Mais</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <hr />
    <h1 style="text-align: center;">Casos no Brasil</h1>
    <div class="row row-cols-1 row-cols-md-3 mt-5">
        <div class="col mb-4">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Casos confirmados</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.Data.ElementAt(Model.Data.Count()-1).Confirmed.ToString("N2")</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Mortes</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.Data.ElementAt(Model.Data.Count()-1).Deaths.ToString("N2")</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Doentes</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.Data.ElementAt(Model.Data.Count()-1).Active.ToString("N2")</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Curados</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.Data.ElementAt(Model.Data.Count()-1).Recovered.ToString("N2")</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Mortalidade</div>
                <div class="card-body">
                    <h5 class="card-title">@percentual.ToString("N2")%</h5>
                </div>
            </div>
        </div>
    </div>
    <p class="font-weight-bolder text-dark" style="text-align: center;">Atualizado em: @dateParse</p>
</main>